.btn {
  background-color: #fff;
  margin: 0 15px;
  text-transform: uppercase;
  padding: 13px 35px;
  font-size: 18px;
  transition: all .3s;
}

.main-btn {
  background-color: transparentize($brand-primary, 0.1);
  color: #fff;

  &:hover {
    background-color: $brand-primary;
    color: #fff;
  }
}

.sub-btn {
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.34);

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
  }
}


.btn-buy {
  background-color: $orange;
  width: 100%;
  margin: 20px 0 0 0;
  padding: 3px;
  border-radius: 1px;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: lighten($orange, 5%);
  }

  .fa {
    color: #fff;
  }
}

.btn-see-cart--global {
  background-color: $orange;
  border-radius: 0;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: lighten($orange, 5%);
  }
}

.btn-cart--global {
  border-radius: 0;
  background-color: #202020;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: lighten(#202020, 10%);
  }

  &:focus {
    outline: 0;
  }
}



.btn-submit {
  @extend .card-1;
  background-color: $orange;
  border-radius: 0;
  margin: 0;

  &:hover {
    color: #fff;
    background-color: darken($orange, 8%);
  }
}
