.orange-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 3px solid $brand-primary;
  width: 100px;
}


.page-header {
  border: 0;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.mt {
  margin-top: 50px;
}

.orange-color {
  color: $orange;
}

.vertical-align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.small-gutter > [class*='col-'] {
    padding: 0 5px;
}

.no-padding {
  padding: 0 !important;
}

.row-eq-height {
  display: flex;
}

.col__xs--margin-bottom > [class*='col-'] {
    margin-bottom: 15px;
}


.global__section-header {
  text-align: center;
	padding: 50px 0 75px 0;
}

// box shadows
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1-hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.img-boxshadow-1 {
  img {
    @extend .card-1;
  }
}

.img-boxshadow-2 {
  img {
    @extend .card-2;
  }
}

.img-boxshadow-3 {
  img {
    @extend .card-3;
  }
}
// -- box shadows




// modal general

.modal {
  color: #333;

  h2 {
    font-size: 28px !important;
  }

  .modal-body {
    padding: 0 15px;

    hr {
      margin: 0;
    }

    p {
      font-weight: 400 !important;
      margin: 0;
    }

    h4 {
      margin: 0;
    }

    .modal__right-content {
      float: right;

      hr {
        margin: 15px 0;
      }
    }

    .modal-frame-border {
      border-top: 1px solid #ebebeb;
    }

    .modal--row-wrap {
      padding: 30px 0;
    }

    .modal_total--produkter {
      padding: 20px 15px;

      span {
        float: right;
        padding-right: 30px;
      }
    }

    .modal_total {
      padding: 20px 15px;

      span {
        float: right;
        padding-right: 30px;
      }
    }
  }

  .modal-content {
    border-radius: 0 !important;
  }

  .btn {
    padding: 5px 15px;
  }
}
