@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$montserrat:            'Montserrat', sans-serif;

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #F4A553;
$orange:                #F4A553;
$beige:                 #F5EFE0;
$white:                 #FDFFFC;
