@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	color: #333;
	line-height: 170%;
	font-size: 16px;
	font-family: "proxima-nova",sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
}

.main {
	padding: 0;
	min-height: 500px;
}

.page {
	.main,
	.sidebar {
		margin-top: 140px;
	}
}

.page-template {
	.main {
		margin-top: 0;
	}
}

.home {
	.main {
		margin: 0;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: 500;
}

a {

	&:hover {
		text-decoration: none;
	}
}

.cart--image-placeholder {
	background-color: #fff;
	width: 200px;
	height: 165px;
	margin: 25px 15px;
	position: relative;

	p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.forside-hero {
	margin-top: 132px;
	padding: 200px 0 !important;
	color: #fff;
	text-align: center;
	background-image: url(../images/photo-1459845011331-34241defc9b0.jpg);
	background-size: cover;
	background-position: 50% 50%;

	h1 {
		position: relative;
		margin: 0;
		font-size: 75px;
		letter-spacing: 50px;
		text-indent: 50px;
		font-weight: 400;
		text-transform: uppercase;
	}

	p {
		font-size: 25px;
		font-weight: 300;
		margin: 20px 0 0 0;
		padding: 0 160px;
		letter-spacing: 0.6px;
	}

	.hero-btn-wrap {
		margin: 50px 0;

		.hero-btn {
			background-color: #fff;
			margin: 0 15px;
			text-transform: uppercase;
			padding: 13px 35px;
			font-size: 18px;
			transition: all .3s;
			border-radius: 5px;
		}

		.hero-btn-1 {
			background-color: transparentize($brand-primary, 0.2);
			color: #fff;

			&:hover {
				background-color: transparentize($brand-primary, 0.1);
			}
		}

		.hero-btn-2 {
			background-color: rgba(0, 0, 0, 0.15);
			color: #fff;
			border: 1px solid rgba(255, 255, 255, 0.34);

			&:hover {
				background-color: rgba(255, 255, 255, 0.05);
			}
		}
	}
} // _forside wrap


// template lolland falster

.lollandfalster-hero {
	@extend .forside-hero;
	background-image: url(../images/hero_lollandfalster.jpg);

	h1 {
		letter-spacing: 30px;
		text-indent: 30px;
	}
}


section.front-page_intro {
	border-top: 1px solid #ebebeb;
	padding: 50px 0 40px 0;

	h1 {
		margin-bottom: 40px;
		margin-top: 0;
	}

	h2 {
		font-size: 25px;
	}
} // _grey-wrap


.boxes_wrap {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
	position: relative;

	h1 {
		text-transform: uppercase;
		margin-top: 0;
	}

	p {
		padding: 0 10px;
		margin: 0;
	}

	.box-hr {
		margin-top: 20px;
		margin-bottom: 20px;
		border: 0;
		border-top: 3px solid $brand-primary;
		width: 100px;
	}

	.box-content {
		width: 100%;
		padding: 35px 30px;

		.svg-logo {
			width: 25%;
			height: auto;
			display: block;
			margin: 0 auto 25px auto;
		}
	}

	.box-light {
		background-color: #fff;
		border-left: 1px solid #ebebeb;

		a {
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 0.6px;
			font-size: 20px;
		}
	}
}


// section front page region

.box-height_regions {
	height: 500px;
}

section.front-page_regions {
	text-align: center;
	padding: 100px 10% 150px 10%;
	background-color: #f8f8f9;

	.front-page_regions--boxes {
		margin-top: 75px;

		h1 {
			margin: 0;
			padding: 20px 0;
			color: #fff;
			text-transform: uppercase;
			transition: all .3s;
		}

		.front-page_regions--spacer {
			margin: 8px 0;
		  border: 0;
		  border: none;
		  width: 100px;
		}
	}

	.box-content_regions {
		width: 100%;
		position: absolute;
		bottom: 0;

		.box-content_regions--h1-orange {
			background-color: transparentize($orange, 0.3);
		}

		.box-content_regions--h1-dark {
			background-color: transparentize(#202020, 0.3);
		}
	}

	.box_hovedstaden {
		@extend .box-height_regions;
		@extend .card-1;
		position: relative;
		background-image: url(../images/box_hovedstaden.jpg);
		background-size: cover;

		&:hover {
			h1 {
				padding: 50px 0;
			}
		}
	}

	.box_midtjylland {
		@extend .box-height_regions;
		@extend .card-1;
		position: relative;
		background-image: url(../images/box_midtjylland.jpg);
		background-size: cover;

		&:hover {
			h1 {
				padding: 50px 0;
			}
		}
	}

	.box_nordjylland {
		@extend .box-height_regions;
		@extend .card-1;
		position: relative;
		background-image: url(../images/box_nordjylland.jpg);
		background-size: cover;

		&:hover {
			h1 {
				padding: 50px 0;
			}
		}
	}

	.box_lollandfalster {
		@extend .box-height_regions;
		@extend .card-1;
		position: relative;
		background-image: url(../images/box_lollandfalster.jpg);
		background-size: cover;

		&:hover {
			h1 {
				padding: 50px 0;
			}
		}
	}

	.box_sjaelland {
		@extend .box-height_regions;
		@extend .card-1;
		position: relative;
		background-image: url(../images/box_sjaelland.jpg);
		background-size: cover;

		&:hover {
			h1 {
				padding: 50px 0;
			}
		}
	}

	.box_syddanmark {
		@extend .box-height_regions;
		@extend .card-1;
		position: relative;
		background-image: url(../images/box_syddanmark.jpg);
		background-size: cover;

		&:hover {
			h1 {
				padding: 50px 0;
			}
		}
	}
}


// section featured products

section.front-page_featured-products {
	@extend .global__section-header;
	background-color: #fff;

	.front-page_featured-products--single {
		background-color: #fff;
		@extend .card-1;
		padding: 40px 20px 25px 20px;

		&:hover {
			@extend .card-1-hover;
		}

		img {
			display: block;
			margin: 0 auto;
			width: 70%;
			height: auto;
		}

		h3 {
			font-weight: 400;
			font-size: 20px;
		}

		p {
			color: $orange;
			font-size: 32px;
			margin-top: 20px;

			span {
				text-decoration: line-through;
				color: #aaaaaa;
			}
		}
	}
}


// section lolland falster weekly product

section.lollandfalster_weekly-product {
	@extend .global__section-header;
	padding-bottom: 0;

	.lollandfalster_weekly-product--container {
		text-align: left;
		margin-top: 50px;
		color: #fff;

		.lollandfalster__weekly-product--image {
			float: right;
			z-index: 9999;
		}

		.lollandfalster__weekly-product--bg {
			background-color: $orange;
	    padding: 4% 4%;
			position: relative;

			.lollandfalster-weekly-product--content {

				h1 {
					text-transform: uppercase;
					margin: 0;
					position: relative;
					padding-bottom: 15px;

					&:after {
						content:"";
						border-bottom: 2px solid #fff;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 200px;
					}
				}

				h2 {
					text-transform: uppercase;
					margin: 0;
					font-size: 60px;
				}

				p {
					font-weight: 500;
					font-size: 18px;
				}
			}

			.btn-cart {
				@extend .btn-cart--global;
				position: absolute;
				bottom: -7%;
			}
		}
	}
}


// kontakt page-template
.kontakt__wrap {

	.kontakt__hero {
		@extend .forside-hero;
		padding: 125px 0 300px 0 !important;
		background-image: url(../images/kontakt-hero.jpg);
		position: absolute;
    left: 0;
    right: 0;
		z-index: 0;

		h1 {
			letter-spacing: normal;
			text-indent: 0;
			font-size: 45px;
			text-align: left;
			font-weight: 500;
		}

		p {
			text-align: left;
			padding: 0;
		}
	}

	.kontakt__form {
		margin-bottom: 175px;

		.kontakt__form--card {
			box-shadow: 0 19px 38px rgba(0,0,0,0.1), 0 15px 12px rgba(0,0,0,0.07);
			background-color: #fff;
			position: relative;
			z-index: 10;
			margin-top: 500px;
			color: #fff;

			.kontakt__form--card-left {
				padding: 40px;

				.contact-form {
					margin-top: 75px;

					.form-control {
						border-radius: 0;
						border: 0;
						box-shadow: none !important;
						border-bottom: 1px solid #ebebeb;
						margin-bottom: 20px;
						resize: none;

						&:focus {
							outline: 0 !important;

							border-bottom: 1px solid $orange;
						}
					}

					textarea#message {
						border: 0;
					}
				}

				h2 {
					position: relative;
					padding-bottom: 15px;
					color: #202020;

					&:after {
						content:"";
						border-bottom: 3px solid $orange;
						position: absolute;
						bottom: 0;
						left: 0;
						margin: 0 auto;
						width: 100px;
					}
				}
			}

			.kontakt__form--card-right {
				padding: 40px;
				background-color: $orange;

				h2 {
					margin-bottom: 75px;
				}

				p {
					line-height: 150%;
					font-size: 18px;
					margin-bottom: 30px;
					vertical-align: middle;

					.fa {
						line-height: 150%;
						display: inline-flex;
						font-size: 30px;
						vertical-align: middle;
					}

					span {
						display: inline-flex;
					}
				}

				a {
					margin-right: 20px;
					margin-left: -15px;
					color: lighten($orange, 25%);
					transition: all .3s;
					padding: 5px 15px;
					display: table;

					&:hover {
						color: #fff;
						background-color: lighten($orange, 10%);
					}
				}
			}
		}
	}
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	// navigation mobile

	.navbar-toggle {
		border: none;
	}

	.forside-hero {
		margin-top: 70px;
		padding: 100px 0 !important;
		color: #fff;
		text-align: center;
		background-image: url(../images/photo-1459845011331-34241defc9b0.jpg);
		background-size: cover;
		background-position: 50% 50%;

		h1 {
			font-size: 40px;
			letter-spacing: 40px;
			text-indent: 40px;
		}

		p {
			font-size: 25px;
			padding: 0;
		}

		.hero-btn-wrap {
			margin: 50px 0 0 0;

			.hero-btn {
				margin: 10px 0;
				text-transform: uppercase;
				padding: 13px 35px;
				font-size: 18px;
				transition: all .3s;
				display: block;
				margin: 0 auto;
				align-content: center;
				margin-bottom: 25px;
			}

			.hero-btn-1 {
				width: 80%;
			}

			.hero-btn-2 {
				width: 80%;
			}
		}
	} // _forside wrap


	.box-height-mobile {
		height: 300px;
	}

	.boxes_wrap {

		h1 {
			text-transform: uppercase;
			margin-top: 0;
		}

		p {
			padding: 0 10px;
		}

		.box-content {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 0 30px;
		}

		.box-light {
			@extend .box-height-mobile;
			border-bottom: 1px solid #ebebeb;
		}
	}


	// section regions mobile

	.small-gutter > [class*='col-'] {
	    padding: 0 !important;
	}

	.box-height_regions {
		height: 200px;
	}

	section.front-page_regions {
		padding: 50px 0 75px 0;

		h1 {
			font-size: 25px;
			padding: 10px 0;
		}

		.front-page_regions--box-single {
			margin-bottom: 15px;
		}
	}



	// section featured products mobile

	section.front-page_featured-products {
		text-align: center;
		padding: 50px 0;
		background-color: #fff;
	}

// mobile lollandfalster hero
	.lollandfalster-hero {
		background-image: url(../images/hero_lollandfalster.jpg);

		h1 {
			letter-spacing: 10px;
			text-indent: 10px;
		}
	}

	// mobile section lolland falster weekly product

	.lollandfalster_weekly-product--container--mobile {
		margin-top: 10px;

		.weekly-product-card {
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		  transition: all 0.2s ease-in-out;
			background-color: #fff;
			padding: 0 5px 25px 5px;

			h1 {
				font-size: 22px;
			}

			h2 {
				color: $orange;
			}

			.btn-cart {
				margin-top: 15px;
				border-radius: 0;
			  background-color: #202020;
			  color: #fff;
			}
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
