footer {
  background-color: #202020;
  color: #fff;

  .content-info {
    padding: 40px 0;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 25px;
    padding-bottom: 10px;
    position: relative;

    &:after {
      content:"";
      border-bottom: 3px solid $orange;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70px;
    }
  }

  p {
    margin: 0;
    font-weight: 500;
    line-height: 140%;
  }

  a {
    font-weight: 500;
    transition: all .3s;
  }

  ul {
    list-style: none;
    padding: 0;

    a {
      color: #fff;
    }
  }

  .copyright {
    margin-top: 50px;
    padding-bottom: 10px;

    .fa {
      float: right;
      margin-left: 20px;
      font-size: 30px;
      color: #fff;
      transition: all .3s;

      &:hover {
        color: $orange;
      }
    }
  }
}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .footer-col {
    margin-bottom: 50px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
