.logo {
  margin: 0;
}


.navbar-brand {
  width: 60%;
  height: 100%;
  padding: 15px;
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1.5px;
  color: #333 !important;
  transition: all .3s;

  &:hover {
    color: $brand-primary !important;
  }
}

.navbar-default {
  background-color: $white;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all .3s;
  text-transform: uppercase;

  .navbar-nav {

    .active a {
      background-color: transparent;
      color: $brand-primary;

      &:hover,
      &:focus {
        color: $brand-primary;
        background-color: transparent;
      }
    }

    li {
      margin: 0 0 0 30px;
      padding-top: 20px;

      a {
        transition: all .3s;
        color: #333;
        font-weight: 500;
        font-size: 17px;

        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
}


.sub-nav-wrap {
  background-color: #202020;

  .navbar-nav {

    li {
      margin: 0;
      padding: 0;
      border: 0;

      a {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }
}






/** headroom.js animated styles **/
#header {
  display: block;
  width: 100%;
}
.fixed {
  position: fixed;
  z-index: 15;
  right: 0;
  left: 0;
  top: 0;
}
.slide {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slide--reset {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.slide--up {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.animated {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-100%);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(-100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}










/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .navbar-brand {
    width: 40%;
  }

  .navbar-toggle {
    border: none;
    margin-top: 20px;

    &:hover,
    &:focus {
      background-color: transparent !important;
    }

    span.icon-bar {
      display: block;
      width: 27px;
      height: 3px;
      background-color: #333 !important;
      border-radius: 2px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
      margin-top: 4px;
      cursor: pointer
    }
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
